<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="c-principal mt-4">Contacto</h3>
    </div>
    <div class="col-md-8">
      <p class="grey fs-14 mt-3">Envianos cualquier consulta que tengas y te contestaremos en breve.</p>
      <form (ngSubmit)="submitForm()" [formGroup]="form" novalidate="novalidate" method="post">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="name" id="name" placeholder="Ingresa tu nombre">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="phone" id="phone" placeholder="Ingresa tu número">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="subject" id="subject" placeholder="Asunto">
        </div>
        <div class="form-group">
          <label for="exampleTextarea">Mensaje</label>
          <textarea formControlName="message" class="form-control" id="message" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-primary btn-block">Enviar consulta</button>

        <p class="text-danger mt-2 text-center">{{messageWarning}}</p>
      </form>
    </div>
    <div class="col-md-4">
      <p class="grey fs-14 mt-3">Donde nos podes encontrar</p>
      <app-map></app-map>
    </div>
  </div>
</div>