<div class="swiper-container swiper-carousel">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img class="img-fluid" src="assets/images/slide1.jpg">
    </div>
    <div class="swiper-slide">
      <img class="img-fluid" src="assets/images/slide2.jpg">
    </div>
    <div class="swiper-slide">
      <img class="img-fluid" src="assets/images/slide3.jpg">
    </div>
    <div class="swiper-slide">
      <img class="img-fluid" src="assets/images/slide4.jpg">
    </div>
    <div class="swiper-slide">
      <img class="img-fluid" src="assets/images/slide5.jpg">
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next" style="top:85%"></div>
  <div class="swiper-button-prev" style="top:85%"></div>
</div>