<footer class="page-footer c-white b-principal pt-4 mt-4">

    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-uppercase">Dirección</h5>
          <p>Gral. Martín Güemes 1140</p>
        </div>
        <div class="col-md-4">
            <h5 class="text-uppercase">Email</h5>
            <p>molinotenisclub@gmail.com</p>
          </div>
          <div class="col-md-4">
            <h5 class="text-uppercase">Teléfono</h5>
            <p>+54 11 6727-4593</p>
          </div>
      </div>
    </div>
    <div class="footer-copyright text-center mt-4 py-3">
      <p>© 2018 Copyright: El Molino Tenis Club.</p>
    </div>

  </footer>