<div class="container">
  <div class="row mb-4">
    <div class="col-md-12 text-center">
      <p class="c-principal fs-50 mt-4 mb-0">El Molino</p>
      <p class="c-grey">Tenis - Entrenamiento físico - Pretemporada</p>
    </div>
    <div class="col-md-4 text-center mt-4">
      <i class="fa fa-map-marker c-principal" style="font-size:100px;"></i>
      <p class="c-grey fs-12 mt-3 px-3">La mejor ubicación de Hurlingham, con la mejor comodidad posible, además con la disponibilidad de foodtracks mensualmente en la Plaza de Hurlingham.</p>
    </div>
    <div class="col-md-4 text-center mt-4">
      <i class="fa fa-trophy c-principal" style="font-size:100px;"></i>
      <p class="c-grey fs-12 mt-3 px-3">Organización de torneos individuales y dobles (masculino y femenino) con la finalidad de divertirese y promover el tenis.</p>
    </div>
    <div class="col-md-4 text-center mt-4">
      <i class="fa fa-calendar-check-o c-principal" style="font-size:100px;"></i>
      <p class="c-grey fs-12 mt-3 px-3">Brindamos a nuestros clientes promociones exclusivas y armamos partidos a su disposición y nivel de juego.</p>
    </div>
  </div>
</div>
